@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* An ugly hack to add rounded corners to the headerbar
 * TODO remove it when this gets fixed:
 * https://bugzilla.mozilla.org/show_bug.cgi?id=1408360
 * width=960 - horizontally half the screen (1920x1080)
 * height=1053 - vertically maximized (1920x1080) */
window:not([width="960"]):not([height="1053"]) #nav-bar {
	border-top-left-radius: 8px;
}
window:not([width="960"]):not([height="1053"]) #titlebar-buttonbox {
	border-top-right-radius: 8px;
}

#nav-bar toolbarbutton.chromeclass-toolbar-additional,
#nav-bar toolbarbutton.toolbarbutton-combined,
#nav-bar #reload-button,
#nav-bar #stop-button,
#PanelUI-menu-button {
	margin: 6px 3px !important;
}

#nav-bar {
	margin-top: -47px !important;
	padding-right: 7px !important;
	position: relative;
	color: var(--gnome-headerbar-text-color) !important;
}

#toolbar-menubar {
	padding-bottom: 0 !important;
}

/* Add window controls separator */
#nav-bar::after {
	content: "";
	position: absolute;
	right: 3px;
	top: 6px;
	height: 32px;
	border-right: 1px solid rgba(0, 0, 0, .1);
}

#titlebar {
	height: 52px !important;
	margin-bottom: 0px !important;
	margin-right: -4px;
	overflow: hidden;
}

/* Move window buttons next to the header bar */
#titlebar-buttonbox {
	background-image: var(--gnome-headerbar-bgimage) !important;
	border: none !important;
	border-bottom: var(--gnome-headerbar-border-bottom) !important;
	box-shadow: var(--gnome-headerbar-box-shadow);
	height: unset !important;
	margin-top: 0 !important;
	padding-bottom: 0 !important;
	padding-right: 3px;
	padding-top: 0 !important;
}
#titlebar-buttonbox:-moz-window-inactive {
	background-image: var(--gnome-inactive-headerbar-bgimage) !important;
	border-bottom: var(--gnome-inactive-headerbar-border-bottom) !important;
	box-shadow: var(--gnome-inactive-headerbar-box-shadow);
}
#navigator-toolbox {
	margin-top: -5px;
}

/* Window buttons */
#titlebar toolbarbutton {
	-moz-appearance: none !important;
	border: var(--gnome-headerbar-button-border) !important;
	border-color: transparent !important;
	border-radius: 3px !important;
	height: 34px;
	margin: 6px 3px !important;
	padding: 0 2px !important;
	position: relative;
	transition: all .3s ease-out;
	width: 34px;
}
#titlebar toolbarbutton image {
	filter: invert(85%);
	margin-left: 6px;
	width: 16px;
}
#titlebar:-moz-window-inactive toolbarbutton image {
	opacity: .7 !important;
}
#titlebar:not(:-moz-window-inactive) toolbarbutton:not([disabled]):hover {
	background-image: var(--gnome-headerbar-button-hover-bgimage);
	border: var(--gnome-headerbar-button-border) !important;
}
#titlebar:not(:-moz-window-inactive) toolbarbutton:not([disabled]):active {
	background-image: var(--gnome-headerbar-button-active-bgimage);
	box-shadow: var(--gnome-headerbar-button-active-box-shadow);
	border: var(--gnome-headerbar-button-border) !important;
}
#titlebar:not(:-moz-window-inactive) toolbarbutton[disabled] {
	background-color: var(--gnome-headerbar-button-disabled-bgcolor);
	box-shadow: var(--gnome-headerbar-button-disabled-box-shadow);
	border: var(--gnome-headerbar-button-border) !important;
}

#titlebar-close .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/window-close-symbolic?size=dialog") !important;
}
#titlebar-max .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/window-maximize-symbolic?size=dialog") !important;
}
#titlebar-min .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/window-minimize-symbolic?size=dialog") !important;
}

/* Remove ugly line before tabs */
.titlebar-placeholder[type="pre-tabs"] {
	border-inline-end: 0px solid !important;
}

/* Remove blank space after tabs when window is maximized */
#main-window:not([sizemode="normal"]) .titlebar-placeholder[type="post-tabs"] {
	display: none !important;
}

/* Remove window controls blank space after tabs */
.titlebar-placeholder[type="caption-buttons"] {
	display: none !important;
}

/* Remove blank space before and after tabs */
.titlebar-placeholder[type="pre-tabs"],
.titlebar-placeholder[type="post-tabs"] {
	display: none !important;
}

/* Fix the issue when dragging tabs */
#TabsToolbar[movingtab] + #nav-bar {
	margin-top: -47px !important;
}

/* Fullscreen */
:root[inFullscreen] #nav-bar {
	padding-top: 52px !important;
	padding-right: 0 !important;
	margin-right: 0 !important;
}
:root[inFullScreen] #nav-bar::after {
	display: none;
}
