@import "theme.css";
@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Colors */
:root {
	/* Variables that start with --gnome- are added by me and are assigned
	 * to elements somewhere in this code. The rest of the variables are
	 * built-in in Firefox, so you need to add an !important if you wanna
	 * override them. */

	/* Browser area before a page starts loading */
	--gnome-browser-before-load-bgcolor: #2e3436;

	/* Extra toolbars like the bookmark bar */
	--toolbar-bgcolor: var(--gnome-tabbar-bgcolor) !important;
	--toolbar-bgimage: none !important;

	/* Header bar */
	--gnome-headerbar-bgimage: linear-gradient(to top, #262a2c, #2c3133 3px, #2c3133);
	--gnome-headerbar-border-bottom: 1px solid #0b0c0c;
	--gnome-headerbar-box-shadow: 0 1px #393e40 inset;
	--gnome-headerbar-button-bgimage: linear-gradient(#2e3436, #2b2f31 60%, #262a2b);
	--gnome-headerbar-button-border: 1px solid #1b1f20;
	--gnome-headerbar-button-border-bottom: 1px solid #0c0d0d;
	--gnome-headerbar-button-box-shadow: 0 1px #383e3f inset;
	--gnome-headerbar-button-hover-bgimage: linear-gradient(#343b3d, #2f3537 50%, #2a2e30);
	--gnome-headerbar-button-active-bgimage: linear-gradient(rgb(35, 39, 39), rgb(41, 45, 45) 40%, rgb(45, 50, 50));
	--gnome-headerbar-button-active-box-shadow: 0 1px rgba(0, 0, 0, .07) inset, 0 2px 1px -2px rgba(0, 0, 0, .6) inset, 0 1px rgba(238, 238, 236, .1);
	--gnome-headerbar-button-disabled-bgcolor: #2d3234;
	--gnome-headerbar-button-disabled-border: var(--gnome-headerbar-button-border);
	--gnome-headerbar-button-disabled-box-shadow: none;
	--gnome-headerbar-text-color: #fff;
	--gnome-inactive-headerbar-bgimage: linear-gradient(#33393b, #33393b);
	--gnome-inactive-headerbar-border-bottom: 1px solid #202425;
	--gnome-inactive-headerbar-box-shadow: 0 1px rgba(238, 238, 236, .1) inset;
	--gnome-inactive-headerbar-button-bgimage: linear-gradient(#33393b, #33393b);
	--gnome-inactive-headerbar-button-border: 1px solid #202425;
	--gnome-inactive-headerbar-button-border-bottom: var(--gnome-inactive-headerbar-button-border);
	--gnome-inactive-headerbar-button-box-shadow: 0 1px rgba(255, 255, 255, 0) inset, 0 1px rgba(238, 238, 236, 0);
	--gnome-inactive-headerbar-button-disabled-bgcolor: var(--gnome-headerbar-button-disabled-bgcolor);
	--gnome-inactive-headerbar-button-disabled-border: var(--gnome-inactive-headerbar-button-border);
	--gnome-inactive-headerbar-button-disabled-box-shadow: 0 1px rgba(255, 255, 255, 0) inset, 0 1px rgba(238, 238, 236, 0);

	/* URL bar */
	--gnome-urlbar-bgimage: linear-gradient(#232729, #232729);
	--gnome-urlbar-border: 1px solid #1e2222;
	--gnome-urlbar-box-shadow: none;
	--gnome-urlbar-color: #fdfdfd;
	--gnome-urlbar-height: 34px;
	--gnome-inactive-urlbar-bgimage: linear-gradient(#252a2c, #252a2c);
	--gnome-inactive-urlbar-border: 1px solid #202425;
	--gnome-inactive-urlbar-box-shadow: none;
	--gnome-inactive-urlbar-color: #d3d4d5;
	--gnome-focused-urlbar-border-color: #0f2a46;
	--gnome-focused-urlbar-outline: 1px solid #21578f;
	/* for private-urlbar.css only */
	--gnome-private-urlbar-bgimage: linear-gradient(#25003e, #25003e);

	/* Tab bar */
	--gnome-tabbar-bgcolor: #272c2d;
	--gnome-tabbar-border-bottom: 1px solid #1b1f20;
	--gnome-tabbar-tab-color: #919494;
	--gnome-tabbar-tab-hover-bgcolor: #292e2f;
	--gnome-tabbar-tab-hover-border-bottom: var(--gnome-tabbar-border-bottom);
	--gnome-tabbar-tab-hover-border-sides: 1px solid #25292a;
	--gnome-tabbar-tab-hover-color: #c0c1c0;
	--gnome-tabbar-tab-active-bgcolor: #2c3233;
	--gnome-tabbar-tab-active-border-bottom: 3px solid #215d9c;
	--gnome-tabbar-tab-active-border-color-sides: #232829;
	--gnome-tabbar-tab-active-color: #eeeeec;
	--gnome-tabbar-tab-active-hover-bgcolor: #2f3536;
	--gnome-inactive-tabbar-bgcolor: #2c3233;
	--gnome-inactive-tabbar-border-bottom: var(--gnome-tabbar-border-bottom);
	--gnome-inactive-tabbar-tab-color: var(--gnome-tabbar-tab-color);
	--gnome-inactive-tabbar-tab-active-bgcolor: #33393b;
	--gnome-inactive-tabbar-tab-active-border-bottom: var(--gnome-tabbar-tab-active-border-bottom);
	--gnome-inactive-tabbar-tab-active-border-color-sides: #202425;
	--gnome-inactive-tabbar-tab-active-color: var(--gnome-inactive-tabbar-tab-color);
	--gnome-tabbar-tab-icon-filter: invert(100%) sepia(100%) grayscale(100%) brightness(200%) brightness(85%);

	/* Bookmark bar */
	--gnome-bookmarkbar-border-bottom: 1px solid #1b1f20;
	--gnome-bookmarkbar-height: 38px;
	--gnome-inactive-bookmarkbar-border-bottom: var(--gnome-bookmarkbar-border-bottom);

	/* Burger menu */
	/*--arrowpanel-padding: 10px;*/
	/*--arrowpanel-background: -moz-field;*/
	--arrowpanel-color: #d3d4d2 !important; /* applies to text and icons */
	--arrowpanel-border-color: #1b1f20 !important;

	/* Dirty hack for replaced symbolic icons, they load from
	 * /usr/share/icons/<theme>/ and on some systems they need to be
	 * inverted, on others they don't, adjusts the filters below to your
	 * needs (you may also adjust icon brightness here). */
	--gnome-icons-hack-filter: invert(85%); /* without invert: none */
	--gnome-icons-hack-close-button-border: 1px solid #e3e0e0;
	--gnome-icons-hack-close-button-border-bottom: 1px solid #F3F2F2;
	--gnome-icons-hack-close-button-filter: invert(100%); /* without invert: none */
	--gnome-icons-hack-close-button-hover-bgimage: linear-gradient(#CBC4C2, #D0CAC8 50%, #D5D1CF); /* without invert: none */
	--gnome-icons-hack-close-button-hover-box-shadow: 0 1px #C7C1C0 inset; /* without invert: none */
	--gnome-icons-hack-close-button-active-bgimage: linear-gradient(rgb(220, 216, 216), rgb(214, 210, 210) 40%, rgb(210, 205, 205));
	/* ^ without invert: linear-gradient(rgb(35, 39, 39), rgb(41, 45, 45) 40%, rgb(45, 50, 50)) */
	--gnome-icons-hack-close-button-active-box-shadow: 0 1px rgba(255, 255, 255, .07) inset, 0 2px 1px -2px rgba(255, 255, 255, .6) inset, 0 1px rgba(17, 17, 19, .1);
	/* ^ without invert: 0 1px rgba(0, 0, 0, .07) inset, 0 2px 1px -2px rgba(0, 0, 0, .6) inset, 0 1px rgba(238, 238, 236, .1) */
}
