@import "theme.css";
@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Colors */
:root {
	/* Variables that start with --gnome- are added by me and are assigned
	 * to elements somewhere in this code. The rest of the variables are
	 * built-in in Firefox, so you need to add an !important if you wanna
	 * override them. */

	/* Browser area before a page starts loading */
	--gnome-browser-before-load-bgcolor: #d6d6d6;

	/* Extra toolbars like the bookmark bar */
	--toolbar-bgcolor: var(--gnome-tabbar-bgcolor) !important;
	--toolbar-bgimage: none !important;

	/* Header bar */
	--gnome-headerbar-bgimage: linear-gradient(to top, #dbdbd9, #f4f4f4 3px, #f4f4f4);
	--gnome-headerbar-border-bottom: 1px solid #91918c;
	--gnome-headerbar-box-shadow: 0 -1px rgb(217, 217, 217) inset, 0 1px #fff inset;
	--gnome-headerbar-button-bgimage: linear-gradient(#e7e7e6, #dfdfde 60%, #d0d0ce);
	--gnome-headerbar-button-border: 1px solid #b7b7b4;
	--gnome-headerbar-button-border-bottom: 1px solid #94948f;
	--gnome-headerbar-button-box-shadow: 0 1px #f9f9f9 inset;
	--gnome-headerbar-button-hover-bgimage: linear-gradient(#f6f6f6, #eaeae9 50%, #dededd);
	--gnome-headerbar-button-active-bgimage: linear-gradient(#d9d9d7, #d9d9d7);
	--gnome-headerbar-button-active-box-shadow: 0 1px rgba(0, 0, 0, .07) inset, 0 2px 0px -2px rgba(0, 0, 0, .6) inset, 0 1px #fff;
	--gnome-headerbar-button-disabled-bgcolor: #f1f1f1;
	--gnome-headerbar-button-disabled-border: 1px solid #b7b7b4;
	--gnome-headerbar-button-disabled-box-shadow: 0 1px rgba(255, 255, 255, 0) inset, 0 1px rgba(255, 255, 255, 0);
	--gnome-headerbar-text-color: #000;
	--gnome-inactive-headerbar-bgimage: linear-gradient(#e8e8e7, #e8e8e7);
	--gnome-inactive-headerbar-border-bottom: 1px solid #c0c0bd;
	--gnome-inactive-headerbar-box-shadow: 0 1px #fff inset;
	--gnome-inactive-headerbar-button-bgimage: linear-gradient(#e8e8e7, #e8e8e7);
	--gnome-inactive-headerbar-button-border: 1px solid #c0c0bd;
	--gnome-inactive-headerbar-button-border-bottom: var(--gnome-inactive-headerbar-button-border);
	--gnome-inactive-headerbar-button-box-shadow: 0 1px rgba(255, 255, 255, 0) inset, 0 1px rgba(255, 255, 255, 0);
	--gnome-inactive-headerbar-button-disabled-bgcolor: var(--gnome-headerbar-button-disabled-bgcolor);
	--gnome-inactive-headerbar-button-disabled-border: var(--gnome-inactive-headerbar-button-border);
	--gnome-inactive-headerbar-button-disabled-box-shadow: var(--gnome-headerbar-button-disabled-box-shadow);

	/* URL bar */
	--gnome-urlbar-bgimage: linear-gradient(#fff, #fff);
	--gnome-urlbar-border: 1px solid #b6b6b3;
	--gnome-urlbar-box-shadow: none;
	--gnome-urlbar-color: #020202;
	--gnome-urlbar-height: 34px;
	--gnome-inactive-urlbar-bgimage: linear-gradient(#fcfcfc, #fcfcfc);
	--gnome-inactive-urlbar-border: 1px solid #c0c0bd;
	--gnome-inactive-urlbar-box-shadow: none;
	--gnome-inactive-urlbar-color: #323232;
	--gnome-focused-urlbar-border-color: #4a90d9;
	--gnome-focused-urlbar-outline: none;
	/* for private-urlbar.css only */
	--gnome-private-urlbar-bgimage: linear-gradient(#e6c2ff, #e6c2ff);

	/* Tab bar */
	--gnome-tabbar-bgcolor: #cfcfcd;
	--gnome-tabbar-border-bottom: 1px solid #b6b6b3;
	--gnome-tabbar-tab-color: rgb(141, 144, 145);
	--gnome-tabbar-tab-hover-bgcolor: #d4d4d2;
	--gnome-tabbar-tab-hover-border-bottom: 3px solid #b6b6b3;
	--gnome-tabbar-tab-hover-border-sides: 1px solid #c9c9c9;
	--gnome-tabbar-tab-hover-color: rgb(93, 98, 99);
	--gnome-tabbar-tab-active-bgcolor: #dbdbd9;
	--gnome-tabbar-tab-active-border-bottom: 3px solid #4a90d9;
	--gnome-tabbar-tab-active-border-color-sides: #c8c8c5;
	--gnome-tabbar-tab-active-color: rgb(46, 52, 54);
	--gnome-tabbar-tab-active-hover-bgcolor: #e6e6e6;
	--gnome-inactive-tabbar-bgcolor: #dadad8;
	--gnome-inactive-tabbar-border-bottom: 1px solid #c0c0bd;
	--gnome-inactive-tabbar-tab-color: #8b8e8f;
	--gnome-inactive-tabbar-tab-active-bgcolor: #e8e8e7;
	--gnome-inactive-tabbar-tab-active-border-bottom: var(--gnome-tabbar-tab-active-border-bottom);
	--gnome-inactive-tabbar-tab-active-border-color-sides: #c0c0bd;
	--gnome-inactive-tabbar-tab-active-color: var(--gnome-inactive-tabbar-tab-color);
	--gnome-tabbar-tab-icon-filter: invert(100%) sepia(100%) grayscale(100%) brightness(200%) brightness(85%) invert(100%);

	/* Bookmark bar */
	--gnome-bookmarkbar-border-bottom: 1px solid #a1a1a1;
	--gnome-bookmarkbar-height: 38px;
	--gnome-inactive-bookmarkbar-border-bottom: var(--gnome-bookmarkbar-border-bottom);

	/* Burger menu */
	/*--arrowpanel-padding: 10px;*/
	/*--arrowpanel-background: -moz-field;*/
	--arrowpanel-color: rgb(46, 52, 54) !important; /* applies to text and icons */
	/*--arrowpanel-border-color: ThreeDShadow;*/

	/* Dirty hack for replaced symbolic icons, they load from
	 * /usr/share/icons/<theme>/ and on some systems they need to be
	 * inverted, on others they don't, adjusts the filters below to your
	 * needs (you may also adjust icon brightness here). */
	--gnome-icons-hack-filter: invert(30%); /* without invert: none */
	--gnome-icons-hack-close-button-border: 1px solid #b7b7b4;
	--gnome-icons-hack-close-button-border-bottom: 1px solid #94948f;
	--gnome-icons-hack-close-button-filter: none; /* without invert: none */
	--gnome-icons-hack-close-button-hover-bgimage: linear-gradient(#f6f6f6, #eaeae9 50%, #dededd); /* without invert: none */
	--gnome-icons-hack-close-button-hover-box-shadow: 0 1px #f9f9f9 inset; /* without invert: none */
	--gnome-icons-hack-close-button-active-bgimage: linear-gradient(rgb(220, 216, 216), rgb(214, 210, 210) 40%, rgb(210, 205, 205));
	/* ^ without invert: linear-gradient(rgb(35, 39, 39), rgb(41, 45, 45) 40%, rgb(45, 50, 50)) */
	--gnome-icons-hack-close-button-active-box-shadow: 0 1px rgba(255, 255, 255, .07) inset, 0 2px 1px -2px rgba(255, 255, 255, .6) inset, 0 1px rgba(17, 17, 19, .1);
	/* ^ without invert: 0 1px rgba(0, 0, 0, .07) inset, 0 2px 1px -2px rgba(0, 0, 0, .6) inset, 0 1px rgba(238, 238, 236, .1) */
}
