@import "parts/toolbox.css";
@import "parts/headerbar.css";
@import "parts/popups.css";
@import "parts/remove-white-flash.css";
@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Replace icons 
#back-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/go-previous-symbolic?size=dialog") !important;
}

#forward-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/go-next-symbolic?size=dialog") !important;
}
*/


/* Glitch - animations (may be possible to fix in about:config)
#reload-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/view-refresh-symbolic?size=dialog") !important;
}
#stop-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/process-stop-symbolic?size=dialog") !important;
}*/

/* Default looks nicer
#new-tab-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/tab-new-symbolic?size=dialog") !important;
}*/

#zoom-out-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/zoom-out-symbolic?size=dialog") !important;
}

/* No icon, just text
#zoom-reset-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/zoom-original-symbolic?size=dialog") !important;
} */

#zoom-in-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/zoom-in-symbolic?size=dialog") !important;
}

/* Default is ok
#nav-bar-overflow-button .toolbarbutton-icon {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/view-more-symbolic?size=dialog") !important;
} */

/* Glitch - it swaps to the default one anyway
#downloads-button {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/folder-download-symbolic?size=dialog") !important;
} */

/* Default is ok
#PanelUI-menu-button {
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/open-menu-symbolic?size=dialog") !important;
} */

/* Bookmark bar */
#navigator-toolbox #PersonalToolbar {
	border-bottom: var(--gnome-bookmarkbar-border-bottom) !important;
	height: var(--gnome-bookmarkbar-height);
}
#navigator-toolbox:-moz-window-inactive #PersonalToolbar {
	border-bottom: var(--gnome-inactive-bookmarkbar-border-bottom) !important;
}

/* Tab bar */
#tabbrowser-tabs,
#tabbrowser-tabs arrowscrollbox {
	height: initial !important;
	min-height: initial !important;
}
tab > stack {
	height: 38px;
}
/* Extra margin for the first and last tabs */
.tabbrowser-tab[first-tab]:not([pinned=true]) {
	margin-left: 8px !important;
}
.tabbrowser-tab[last-tab]:not([pinned=true]) {
	margin-right: 8px !important;
}

/* Remove hover effects on tab bar buttons */
#TabsToolbar {
	--toolbarbutton-active-background: transparent !important;
	--toolbarbutton-hover-background: transparent !important;
	margin-bottom: -1px !important;
}

/* New hover effect */
#TabsToolbar toolbarbutton {
	fill-opacity: .6 !important;
}
#TabsToolbar toolbarbutton:not([disabled]):hover,
#TabsToolbar toolbarbutton[open=true] {
	fill-opacity: 1 !important;
}

/* Remove shadow next to tab scroll buttons */
.arrowscrollbox-overflow-start-indicator,
.arrowscrollbox-overflow-end-indicator {
	display: none;
}

/* Remove tab separators */
.tabbrowser-tab::after,
.tabbrowser-tab::before {
	border-color: transparent !important;
	border-image: none !important;
}

/* Space between tabs */
.tabbrowser-tab:not([pinned=true]) {
	margin: 0 4px !important;
}

/* Tab labels */
tab {
	color: var(--gnome-tabbar-tab-color) !important;
	font-family: Cantarell, inherit;
	font-weight: bold;
	font-size: 1em;
}
tab:hover {
	color: var(--gnome-tabbar-tab-hover-color) !important;
}
tab[selected] {
	color: var(--gnome-tabbar-tab-active-color) !important;
}
tab:-moz-window-inactive {
	color: var(--gnome-inactive-tabbar-tab-color) !important;
}
tab[selected]:-moz-window-inactive {
	color: var(--gnome-inactive-tabbar-tab-active-color) !important;
}

/* Center all inside tab */
.tab-content {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: -1px;
	min-width: 100% !important;
}

/* Prevent tab icons size breaking */
.tab-icon-image, .tab-icon-sound, .tab-throbber, .tab-throbber-fallback, .tab-close-button {
	min-width: 16px;
}

/* Adjust tab label width */
.tab-label-container {
	min-width: 0 !important;
}

/* Put tab close button and icon sound to the right */
.tab-icon-sound[soundplaying="true"], .tab-icon-sound[muted="true"],
.tab-icon-sound[activemedia-blocked="true"] {
	margin-left: auto !important;
}
.tabbrowser-tab:not([soundplaying]):not([muted]):not([activemedia-blocked]) .tab-close-button {
	margin-left: auto !important;
}

/* Force tab favicon to the center */
.tab-throbber, .tab-throbber-fallback {
	margin-left: auto;
}
.tabbrowser-tab:not([busy]) .tab-icon-image {
	margin-left: auto;
}

/* If tab favicon is not present, force tab label to the center */
.tabbrowser-tab .tab-label-container {
	margin-left: 0 !important;
}
.tabbrowser-tab:not([image]):not([busy]):not([progress]) .tab-label-container {
	margin-left: auto !important;
}

/* If tab close button is not present, don't force favicon to the center */
#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not([selected="true"]) .tab-throbber,
#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not([selected="true"]) .tab-throbber-fallback,
#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not([selected="true"]):not([busy]) .tab-icon-image,
#tabbrowser-tabs[closebuttons="activetab"] .tabbrowser-tab:not([selected="true"]):not([image]) .tab-label-container {
	margin-left: 0 !important;
}

/* Remove tab icons */
/* tab:not([pinned=true]) .tab-icon-image {
	display: none;
} */

/* Close tab button */
.tab-close-button {
	border: 1px solid transparent;
	box-sizing: content-box; /* Avoid deformation on flexbox */
	filter: var(--gnome-icons-hack-filter);
	list-style-image: url("moz-icon://stock/window-close-symbolic?size=dialog") !important;
	height: 16px;
	opacity: .3;
	padding: 2px;
	width: 16px;
}
:root:-moz-window-inactive .tab-close-button {
	opacity: .18;
}
:root:not(:-moz-window-inactive) .tab-close-button:hover {
	background-image: var(--gnome-icons-hack-close-button-hover-bgimage);
	border: var(--gnome-icons-hack-close-button-border);
	border-bottom: var(--gnome-icons-hack-close-button-border-bottom);
	border-radius: 3px;
	box-shadow: var(--gnome-icons-hack-close-button-hover-box-shadow);
	filter: var(--gnome-icons-hack-close-button-filter);
	opacity: 1;
}
:root:not(:-moz-window-inactive) .tab-close-button:active {
	background-image: var(--gnome-icons-hack-close-button-active-bgimage);
	box-shadow: var(--gnome-icons-hack-close-button-active-box-shadow);
}
.tab-close-button:active:not(:hover) {
	background-image: none !important;
	box-shadow: none !important;
}

/* Tab close button etc. positioning */
.tab-throbber, .tab-icon-image, .tab-sharing-icon-overlay, .tab-icon-sound, .tab-close-button {
	margin-top: 0 !important;
}

/* Remove blue line above tabs */
.tab-line {
	display: none;
}

/* Move container lines to the top */
.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background {
	border-top: 2px solid var(--identity-tab-color) !important;
}

.tabbrowser-tab[usercontextid] > .tab-stack > .tab-background > .tab-bottom-line {
	display: none;
}

/* Active tab */
.tab-background[selected=true] {
	background-color: var(--gnome-tabbar-tab-active-bgcolor) !important;
	background-image: none !important;
	border-bottom: var(--gnome-tabbar-tab-active-border-bottom) !important;
	border-right-color: var(--gnome-tabbar-tab-active-border-color-sides) !important;
	border-right-style: solid !important;
	border-left-color: var(--gnome-tabbar-tab-active-border-color-sides) !important;
	border-left-style: solid !important;
	border-image: none !important;
	border-top-style: none !important;
}
.tab-background[selected=true]:-moz-window-inactive {
	background-color: var(--gnome-inactive-tabbar-tab-active-bgcolor) !important;
	border-right-color: var(--gnome-inactive-tabbar-tab-active-border-color-sides) !important;
	border-left-color: var(--gnome-inactive-tabbar-tab-active-border-color-sides) !important;
	border-bottom: var(--gnome-inactive-tabbar-tab-active-border-bottom) !important;
}

/* Tab hover */
:root:not(:-moz-window-inactive) .tabbrowser-tab:hover > .tab-stack > .tab-background[selected=true] {
	background-color: var(--gnome-tabbar-tab-active-hover-bgcolor) !important;
}
.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected=true]),
#TabsToolbar[brighttext] > #tabbrowser-tabs > .tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected=true]),
#TabsToolbar[brighttext] > #tabbrowser-tabs > .tabbrowser-tab:hover > .tab-stack > .tab-background > .tab-line:not([selected=true]) {
	background-color: transparent !important;
}
:root:not(:-moz-window-inactive) .tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected=true]) {
	background-color: var(--gnome-tabbar-tab-hover-bgcolor) !important;
	border-image: none !important;
	border-right: var(--gnome-tabbar-tab-hover-border-sides) !important;
	border-left: var(--gnome-tabbar-tab-hover-border-sides) !important;
	border-bottom: var(--gnome-tabbar-tab-hover-border-bottom) !important;
}

/* Full width tabs */
.tabbrowser-tab:not([style^="max-width"]):not([pinned]),
.tabbrowser-tab[style^="max-width: 100px !important;"]:not([pinned]) {
	max-width: 100% !important;
}

.tabbrowser-tab:not([style^="max-width"]):not([pinned]):not([fadein]),
.tabbrowser-tab[style^="max-width: 100px !important;"]:not([pinned]):not([fadein]) {
	max-width: .1px !important;
}

/* Sidebar */
#search-box {
	box-shadow: var(--gnome-urlbar-box-shadow) !important;
	height: var(--gnome-urlbar-height);
}
